* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #4da0ff;
  background: linear-gradient(
      to bottom,
      #001485d5,
      #4c67ffad
    ),
    url(images/dark-honeycomb.png);
  min-height: 100%;
  background-position: center;
  background-size: cover;
}

.heading {
  font-family: "Bebas Neue", cursive;
  text-transform: uppercase;
  font-size: 4.5em;
  font-weight: 900;
  color: #4c67ff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.925);
}

/* BANNER EDITS */

#banner {
  text-align: center;
  margin: 0 auto;
  max-width: 1000px;
}

.banner-header {
  font-family: "Bebas Neue", cursive;
  font-size: 8em;
  margin-top: 1em;
  color: white;
  text-shadow: 2px 3px 1px black;
}

.banner-content {
  font-size: 1.2em;
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  text-shadow: 1px 1px 1px black;
  font-weight: 700;
}

.banner-img {
  width: 300px;
  margin-top: -50px;
}

/* CALCULATOR EDITS */

.content {
  font-family: "Open Sans", sans-serif;
  font-size: 1.4em;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.815);
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: auto;
  margin-top: 100px;
  background-color: white;
  border: 4px solid #4da0ff;
  box-shadow: 3px 3px 4px #000000be;
  padding: 2em;
  width: 60vh;
}

#input-container {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 0.5em;
  margin: 01em auto;
  width: 300px;
}

.input {
  height: 4em;
  border-radius: 2.5em;
  border: 2px solid #00000048;
  transition: 0.2s ease-out;
}

.input:hover {
  border: 2px solid #4da0ff;
}

.input[type="number"] {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: 600;
}

/* BUTTON STYLES */

#button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 1em;
  border: 2px solid #001485b6;
  border-radius: 2.5em;
  width: 450px;
  height: 4em;
  text-transform: uppercase;
  font-size: 1.5em;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  background: #2f4effea;
  color: white;
  transition: 0.3s;
}

#button:hover {
  background: rgb(0, 20, 133);
}

.caption {
  font-size: 2em;
  font-family: "Open Sans", sans-serif;
  text-align: left;
}

/*
  APPENDED CONTAINER STYLES
*/

#results {
  display: grid;
  grid-template-columns: 2fr 1fr;
  row-gap: 0.3em;
  font-family: "Bebas Neue", cursive;
  align-items: center;
  font-size: 3em;
  font-weight: 600;
  text-align: center;
  background: white;
  width: 500px;
  margin: 1.5em auto;
  cursor: pointer;
  transition: 0.2s ease;
}

.result {
  padding: 1em 0;
  transition: 0.2 ease;
}

.text-hover {
  transition: 0.2s ease;
}

.text-hover:hover {
  color: rgb(255, 68, 68);
}

.trash-icon {
  cursor: pointer;
  color: red;
  transition: 0.2s ease;
}

.trash-icon:hover {
  cursor: pointer;
  color: black;
}

.alert {
  background: rgb(255, 81, 81);
  color: white;
  padding: 0.5em;
  font-family: "Helvetica", sans-serif;
  font-weight: 400;
}

/* RESULTS TEXT EDITS */

h2 {
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  text-shadow: 1px 1px 1px black;
  margin-top: 2em;
  color: white;
  font-size: 2em;
  font-family: "Open Sans", sans-serif;
}

.note {
  box-sizing: border-box;
  width: 500px;
  margin: 0 auto;
  padding: 1em;
  text-align: center;
  line-height: 2;
  font-size: 1.2em;
  font-family: "Open Sans", sans-serif;
  color: #000000;
  font-weight: 700;
  background: white;
}

/* TIPS AND TRICKS BUTTON STYLES */

#btn {
  display: block;
  width: 700px;
  margin: 3em auto;
  background: #001485;
  border: 4px solid #fafafa;
  box-shadow: 2px 2px 3px black;
  color: #fafafa;
  text-align: center;
  padding: 1.2em;
  cursor: pointer;
  font-size: 2em;
  font-weight: 700;
  text-decoration: none;
  font-family: 'Oswald', sans-serif;  
  text-transform: uppercase;
  border-radius: 1.5em;
  transition: 0.2s;
}

#btn:hover {
  background-color: #fafafa;
  color: #001485;
  transform: scale(1.05);
  text-decoration: underline;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 1500px) {
  #button {
    width: 300px;
  }
}

@media only screen and (max-width: 500px) {
  /* BANNER EDITS */
  #banner {
    text-align: center;
  }

  .banner-header {
    font-size: 4.5em;
    text-align: center;
  }

  .banner-img {
    width: 50%;
    margin-top: -40px;
  }

  .banner-content {
    margin: 0 30px 30px 30px;
  }

  /* CONTAINER EDITS */

  #container {
    width: 380px;
    margin: 0 auto;
  }
  
  .heading {
      font-size: 4em;
    }

  /* RESULTS EDITS */

    #results {
      width: 40vh;
    }

  /* NOTE EDITS */

  .note {
    width: 40vh;
  }

  .note-header {
    text-align: center;
  } 

  #btn {
    width: 300px;
    font-size: 1.5em;
    padding: 1.5em;
  }
}